.banner_section{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
}

.banner{
    display:flex;
    width: 90vw;
    height: 70vh;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    animation: banerTranscition 2s ;
    margin: 0;
    
}

.slider__buttons{
    display: flex;
}

.slicer_icon__left{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(165deg) brightness(102%) contrast(103%);
}


.slicer_icon__right{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(165deg) brightness(102%) contrast(103%);
}

.arrow{
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 0rem 1rem;
    cursor: pointer;
}


.arrow:hover{
    background-color: red;
}

.arrow:active{
    background-color: red;
    transform: scale(1.2);
}

.video_link{
    display: none;
}
.link_activo{
    display:unset
}

.banner__description{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 50vh;
    padding: 1rem;
  
}

.banner__text{
    font-size: 1.2rem;
    text-align: center;
    padding: 0rem 4rem;
    
}

.banner__logo{
    height: 10rem;
    
}


.banner_vid{
    display: none;
    height: 45%;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 10px 10px 5px rgba(77, 77, 77, 0.5);
}




.banner_vid.active{
    display:unset;
    align-self: center;
    border-radius: 30px;
    transition: 2s ease-in;
    object-fit: cover;
    animation: banerTranscition 1s ;
    height: 35vh;
}


.banner__slicer{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3rem;

}

.banner__ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
   
}

.banner_button{
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 25px;
    background: red;
    color: azure;
    font-weight: 700;
    text-transform: uppercase;
    width: 9rem;
    text-align: center;
    margin: .2rem;
    width: 40%;
    margin: 1rem;
}

.banner_button:hover{
    transform: scale(1.05);
    background: black;
}

.loading{
    display:none;
}



.slicer{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: #8c1f28 solid 2px;
    background: black;
    margin: 0rem 1rem;
    text-decoration: none;
    cursor: pointer;
}

.slicer:hover{
    background: grey;
    transform:scale(1.3);
}

.active{
    transform:scale(1.5);
    background: red;  
}

.activate{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.slicer_item__main{

    padding:2rem;
    border-radius: 25px;
    border: #8c1f28 solid 2px;
    

}


.loading_activo{
    width: 100%;
    height: 2REM;
    background: black;
    animation: load 10s;
}



@keyframes banerTranscition {
    0%{
        transform : translateX(100%);
    }
    100%{
        transform: translate(0);
    }
}


@keyframes load {
    0%{
        transform : translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@media only screen and (max-width:768px){
    .banner{
        flex-direction: column;  
        justify-content: space-around;
        height: 80vh;
        margin: 0;
        padding: 0;
        margin-right: 0;
    }

  

    .banner_vid.active{
       
        display:unset;
        align-self: center;
        transition: 2s ease-in;
        object-fit: cover;
        animation: banerTranscition 1s ;
        width: 100%;
        height: 25vh;
        border-radius: 0;
        
    }

    .banner__description.activate{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 25vh;
        width: 80vw;
       
        padding:0rem;
        margin:0rem;
        font-size: 1rem;
        margin-left: 2.8rem;
    }


    .banner__logo{
        height: 5rem;
        

    }

    .activate{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
        margin: 0;
        
    }
    .banner__text{
        font-size: 1rem;
        text-align: center;
        padding: 0;
        margin: 0;
        
    }

    .banner_button{
        text-decoration: none;
        padding: 1rem;
        border-radius: 25px;
        background: red;
        color: azure;
        font-weight: 700;
        text-transform: uppercase;
        width: 9rem;
        text-align: center;
        width: 40%;
        margin: .5rem;
    }

    .banner__ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
       
    }

    .banner__slicer{

        padding-bottom: 1rem;
    
    }
}